@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(245, 245, 245);
}
.logo{
    position: absolute;
    max-width: 55px;
    left: 23px;
    top: 10px;
    z-index: 2;
}
header{
    align-items: center;
    justify-content: center;
}
nav{
    margin-top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    font-family: 'Nunito','sans-serif';
    z-index: 1;
    font-size: 18px;
    background-color: white;
    box-sizing: border-box;
}
.menu-principal{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 79px;
}
.menu-principal>li>a{
    display: block;
    padding: 30px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu-principal>li:hover{
    background-color: deepskyblue;
}
.submenu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 191, 255, 0.664);
}
.menu-principal li:hover .submenu{
    display: block;
}
.submenu li:hover{
    background-color: deepskyblue;
}
.submenu li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 113px;
}
.contenidor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 95px;
}
.contenido .boton_r button a{
    width: 340px;
    margin: 13px 13px;
    background-color: white;
}
.fecha{
    width: 395px;
    padding: 8px;
    border: 2px solid deepskyblue;
    border-radius: 13px;
    font-family: 'Nunito';
    outline: none;
}
.botonb{
    padding: 8px;
    width: 159px;
    background-color: deepskyblue;
    border: 2px solid dodgerblue;
    border-radius: 92px;
    font-weight: bold;
    font-family: 'Nunito';
}
.botonb:hover{
    background-color: dodgerblue;
    cursor: pointer;
}
.habitaciones{
    display: block;
    align-items: flex-end;
    height: 10px;
}
.habitacion img{
    margin-top: 14px;
    margin-bottom: 14px;
    width: 230px;
    height: 200px;
    margin-left: 23px;
    border-radius: 12px;
}
.habitacion{
    display: flex;
    /*background-color: white;*/
    flex-direction: row;
    border: 1px solid rgb(184, 184, 184);
    width: 963px;
    margin: 12px;
    margin-left: 13px;
    border-radius: 12px;
}
.habitacion button{
    width: 123px;
    height: 34px;
    background-color: deepskyblue;
    border: 2px solid dodgerblue;
    border-radius: 23px;
    position: relative;
    top: 10px;
    left: 390px;
}
.habitacion button a{
    font-family: 'Nunito';
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.botonre{
    width: 123px;
    height: 34px;
    background-color: deepskyblue;
    border: 2px solid dodgerblue;
    border-radius: 23px;
    position: relative;
    top: 10px;
    left: 100px;
}
.botonre a{
    font-family: 'Nunito';
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.botonre:hover{
    background-color: dodgerblue;
}
.serviciosl{
    display: block;
    align-items: flex-end;
    height: 10px;
}
.serviciosa{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(184, 184, 184);
    width: 959px;
    margin: -40px 23px 49px;
    border-radius: 12px;
}
.serviciosa img{
    margin-top: 14px;
    margin-bottom: 14px;
    width: 130px;
    height: 170px;
    margin-left: 23px;
    border-radius: 12px;
}
.serviciosa .botons{
    width: 250px;
    height: 33px;
    background-color: deepskyblue;
    border: 2px solid dodgerblue;
    border-radius: 23px;
    margin-right: 5px;
    position: relative;
    right: 45px;
    margin-top: 25px;
}
.serviciosa .botons:hover{
    background-color: dodgerblue;
}
.serviciosa button a {
    font-family: 'Nunito';
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-right: 24px;
}
form{
    font-family: 'Nunito';
    font-size: 15px;
    padding: 14px;
}
.add-cantidad{
    border: none;
    border: 1.5px solid dodgerblue;
    border-radius: 3px;
    outline: none;
}
.add-cantidad:focus{
    border: 2px solid dodgerblue;
}
.contenido .serviciosi{
    margin-top: 14px;
    margin-bottom: 14px;
    width: 230px;
    height: 230px;
    margin-left: 23px;
    border-radius: 12px;
}
.carrito a img{
    width: 44px;
    margin-left: 1000px;
    margin-top: -10px;
}
.formulario .botonres{
    width: 180px;
    padding: 3px;
    background-color: deepskyblue;
    border: 2px solid dodgerblue;
    border-radius: 23px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Nunito' ,sans-serif;
    text-align: center;
    margin: 30px 10px 0px 0px;
}
.contenido .restaurante{
    margin-top: 14px;
    margin-bottom: 14px;
    width: 200px;
    height: 200px;
    margin-left: 23px;
    border-radius: 12px;
}
.info{
    font-family: 'Nunito';
    margin: 30px 50px;
}
.botons{
    margin-left: 40px; /* Elimina el margen izquierdo */
    padding-left: 40px; /* Elimina el relleno izquierdo */
}
.botonres{
    margin-left: 40px; /* Elimina el margen izquierdo */
    padding-left: 40px; /* Elimina el relleno izquierdo */
}
.contenido h1{
    font-family: 'Nunito';
    margin-right: 795px;
    font-weight: bold;
    margin-bottom: 14px;
}
.detalles img {
    width: 90%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    border-radius: 13px;
}
.detalles {
    max-width: 950px;
    height: 760px;
    background-color: rgb(155, 226, 250);
    font-size: 1.25em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 8px;
    padding: 20px; /* Añadir espacio interno */
    margin: 0 auto; /* Centrar horizontalmente */
    color: black;
    margin-bottom: 10px; /* Añadir espacio entre elementos */
}
.detalles button{
    width: 250px;
    background-color: deepskyblue;
    padding: 5px;
    border: 2px solid #005f92;
    border-radius: 53px;
}
.detalles button a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Nunito';
    color: black;
    font-weight: bold;
}
.btn_ver_detalles img{
    width: 130px;
    margin-top: 14px;
    margin-left: 23px;
    border-radius: 12px;
}
.btn_ver_detalles{
    background-color: #93cef0;
    box-shadow: 1px 2px 2px black;
    display: flex;
    flex-direction: row;
    border: none;
    width: 963px;
    margin: 12px;
    height: 130px;
    margin-left: 13px;
    border-radius: 12px;
}
.contenido-btn{
    margin-left: 35px;
    margin-top: -10px;
}
.btn_ver_detalles:hover{
    cursor: pointer;
}
.contenido-btn a{
    font-family: 'Nunito';
    font-size: 17px;
    color: black;
    text-decoration:none;
    text-align: start;
}
.contenido-btn span{
    margin-left: -33px;
}
footer{
    position: relative;
    top: 330px;
    width: 100%;
    left: 0;
    font-family: 'Nunito';
    background-color:rgb(240, 240, 240);
    border-top: 1px solid #d7d7d7;
    height: 220px;
}
footer section{
    display: table-cell;
    width: 300px;
    position: relative;
}
footer section a{
    color: black;
}
.informacion{
    padding: 15px;
}
.informacion2{
    padding: 15px;
    position: relative;
    left: 103px;
}
footer section i{
    font-size: 33px;
    padding-left: 20px;
}
.iconos{
    position: relative;
    top: 0px;
    left: 290px;
}
.terminos{
    text-align: center;
    margin-top: 12px;
}
.terminos p{
    position: relative;
    top: 23px;
    margin-bottom: 12px;
}
.datos{
    position: relative;
    top: 105px;
}
.mensaje-sin-reservas {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 5px;
  }
  .mensaje-sin-reservas p {
    font-size: 26px;
    margin-bottom: 10px;
    font-family: 'Nunito';
  }
  .mensaje-sin-reservas a {
    background-color: #0085cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Nunito';
  }
.container {
    position: relative;
    top: -64px;
    left: 695px;
}

.group-menu {
    cursor: pointer;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    margin-top: 4px;
}

.frame1 {
    visibility: hidden;
}

.frame1 .info {
    font-size: 20px;
    color: white;
    padding-top: 13px;
    cursor: pointer;
}

.frame1 .info:hover {
    background-color: #0085cc;
}

.frame1 .info span {
    margin-left: 10px;
}

.style {
    width: 250px;
    height: 200px;
    background-color: #93cef0;
    margin-top: 1px;
    margin-left: -180px;
    border-radius: 10px;
}

.style2 {
    width: 250px;
    height: 200px;
    background-color: #93cef0;
    margin-left: 165px;
    margin-top: -75px;
    z-index: 999;
    border-radius: 10px;
}

.frame2 {
    visibility: hidden;
}

.frame2 .setting-item {
    color: white;
    font-size: 20px;
    padding: 6px;
    border-bottom: 1px solid #93cef0;
    cursor: pointer;
}

.frame2 .setting-item:hover {
    background-color: #93cef0;
}