/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor de la factura */
.factura-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
.header {
    text-align: center;
}

/* Estilos para la información del cliente */
.info-cliente {
    margin-top: 20px;
}

/* Estilos para el detalle de la factura */
.detalle-factura {
    margin-top: 20px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Estilos para los encabezados de las tablas */
th {
    background-color: #f2f2f2;
}

/* Estilos para el total */
.total {
    margin-top: 20px;
    text-align: right;
}

.total p {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para elementos span */
span {
    font-weight: bold;
    margin-right: 5px;
}
