@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor de la factura */
.factura-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
.header {
    text-align: center;
}

/* Estilos para la información del cliente */
.info-cliente {
    margin-top: 20px;
}

/* Estilos para el detalle de la reserva y el carrito */
.detalle-factura {
    margin-top: 20px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Estilos para los encabezados de las tablas */
th {
    background-color: #f2f2f2;
}

/* Estilos para el total de la factura */
.total {
    margin-top: 20px;
    text-align: right;
}

.total h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
button a{
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}